
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    height: 2000px ;
}

.header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #f4a100;
}

.header img {
    height: 80px;
    margin-right: 20px;
}

.header h1 {
    font-size: 24px;
    margin: 0;
    color: black;
}

.container {
    width: 700px;
    height: 500px ;
    margin-left :800px;
    margin-top  :100px;
    background: #F9F7F7;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
}

.move-button{
    margin-left :800px;
    margin-top  :100px;
    text-align: left;
}

.navbar {
    background-color: #E09B3D;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: 1000;
}
.navbar .input-container {
    display: flex;
    align-items: center;
    gap: 20px;
}
.navbar .input-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.navbar label {
    font-weight: bold;
}
.navbar input[type="text"],
.navbar input[type="password"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.navbar button {
    padding: 5px 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: opacity 0.3s;
}
.navbar button:hover {
    opacity: 0.7;
}
.navbar .login-btn {
    background-color: white;
}
.navbar .register-btn {
    background-color: white;
}
.navbar .admin {
    font-weight: bold;
}
.forgot-password {
    
    margin-left: 10px;
    font-size: 12px;
    color: #007BFF;
    cursor: pointer;
    transition: opacity 0.3s;
}
.content {
    padding: 20px;
    /* Removed margin-top */
}
